*{margin:0; padding:0;}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #333;
}

em,i{
    font-style: normal;
}
body{
    width: 3.75rem;
    margin: 0 auto;
    background: #f6f6f6;
    font-size: .16rem;
}